{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
    
    <title>Story 9</title>
{% endblock meta %}

{% block content %}

<div class="container story-9">
    <h1 class="page-title">Story 9: Authentication</h1>

    {% if request.user.is_authenticated %}
        <h1 class="text-center title">Selamat datang, {{ user.get_username }}!</h1>
        <h1 class="text-center title">Terima kasih sudah membuat akun :)</h1>
    {% else %}
        <h1 class="text-center title">Selamat datang di story terakhir saya</h1>
    {% endif %}

    <div class="fluid-container mycontainer">
        <div class ="row justify-content-center">
            {% if user.is_anonymous %}
            <a href="{% url 'story9:signup' %}" class="btn btn-dark  btn-lg mx-2" role="button">Sign Up</a>
            <a href="{% url 'story9:login' %}" class="btn btn-light btn-lg mx-2" role="button">Login</a>
            {% else %}
            <a href="{% url 'story9:logout' %}" class="btn btn-danger btn-lg mx-2" role="button">Logout</a>
            {% endif %}
            
        </div>
    </div>
</div>    

{% endblock content %}