{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story9/css/style.css' %}">
    
    <title>Story 9 Sign Up</title>
{% endblock meta %}

{% block content %}

    {% if error %}
        <script>
            window.alert("Username sudah ada");
        </script>
    {% endif %}

    <div class="fluid-container mycontainer">
        <div class="login-dark">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center">Sign Up</h2>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div>
                <p class="text-center">Already have an account? <a href="{% url 'story9:login' %}">Login</a></p>
            </form>
        </div>
    </div>    

{% endblock content %}