{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story7/css/style.css' %}">
    <script type="text/javascript" src="{% static 'story7/js/script.js' %}"></script>
    
    <title>Story 7</title>
{% endblock meta %}

{% block content %}
    <h1 class="page-title">Story 7: Accordion</h1>
    <div class="page-content">
        <div class="element">
            <button class="accordion" id="acr1"><span>
            <kbd class="move-up up1" style="color:blue;">Up</kbd> 
            <kbd class="move-down down1" style="color: red;">Down</kbd>
            </span>Aktivitas</button>

            <div class="panel" id="tab1">
                <dl class="card-body">
                    <p class="card-text">1. Tidur</p>
                    <p class="card-text">2. Makan</p>
                    <p class="card-text">3. Kuliah</p>
                </dl>
            </div>
        </div>

        <div class="element">
            <button class="accordion" id="acr2"><span>
            <kbd class="move-up up1" style="color:blue;">Up</kbd> 
            <kbd class="move-down down1" style="color: red;">Down</kbd>
            </span>Pengalaman</button>
            
            <div class="panel" id="tab2">
                <div class="card-body">
                    <h5 class="card-title">1. Educare 2020)</h5>
                    <p class="card-text">Staff of TOEFL</p>
                    <p class="card-text">note : dibatalkan karena pandemi :(</p>
                    <h5 class="card-title">2. KOMPI UI (Komunitas Mahasiswa Pati UI)</h5>
                    <p class="card-text">Anggota</p>
                </div>
            </div>
        </div>

        <div class="element">
            <button class="accordion" id="acr3"><span>
            <kbd class="move-up up1" style="color:blue;">Up</kbd> 
            <kbd class="move-down down1" style="color: red;">Down</kbd>
            </span>Prestasi</button>
            
            <div class="panel" id="tab3">
                <div class="card-body">
                    <p class="card-text">Juara 1 lomba ga ngapa-ngapain</p>
                </div>
            </div>
        </div>

        <div class="element">
            <button class="accordion" id="acr4"><span>
            <kbd class="move-up up1" style="color:blue;">Up</kbd> 
            <kbd class="move-down down1" style="color: red;">Down</kbd>
            </span>Hobi</button>

            <div class="panel" id="tab4">
                <div class="card-body">
                    <p class="card-text">Menunda tugas sampai <i>deadline</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}