{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6</title>
{% endblock meta %}

{% block content %}
<p>Belum kelar kak HTML nya pas deadline :'), sorry</p>
<p>Baru kelar tests, models, forms</p>
{% endblock content %}