h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
}

.prof-pic {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

p {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
}

table {
    margin-left: 40px;
    table-layout: fixed;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

h3 {
    text-align: center;
}

img {
    margin-left: 25px;
    margin-right: 25px;
    width: 128px;
}