body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: auto;
}

h2 {
    margin-top: 200px;
    text-align: center;
    font-size: 40px;
}

#prof-pic {
    margin-top: 100px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 50%;
}

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

h3 {
    text-align: center;
}

img {
    margin-left: 100px;
    margin-right: 100px;
    width: 128px;
}

.tagline {
    font-size: 25px;
}

.school-image {
    width: 600px;
}

.sekolah {
    margin-top: 100px;
    font-weight: bold;
}