table {
    margin-left: 5px;
    table-layout: fixed;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.story-8 {
    margin-top: 2%;
}

.page-title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#list-buku {
    margin-top: 3%;
}