{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Kode</th>
            <th>Nama Mata Kuliah</th>
            <th>Cek Detail</th>
        </tr>
    </thead>
    <tbody>
        {% for matkul in allMatkul %}
            <tr>
                <td>{{matkul.kode}}</td>
                <td>{{matkul.nama}}</td>
                <td><a href="{% url 'matkul:details' matkul.id %}"> deskripsi</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/matkul/create"><button>Tambah Matkul</button></a>
{% endblock content %}