{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail {{matkul.kode}}</title>
{% endblock meta %}

{% block content %}
<a href="/matkul"><button>Kembali</button></a>
<table>
    <tbody>
        <tr><th style="text-align: left;">Kode</th><td>{{matkul.kode}}</td></tr>
        <tr><th style="text-align: left;">Mata Kuliah</th><td>{{matkul.nama}}</td></tr>
        <tr><th style="text-align: left;">Dosen Pengajar</th><td>{{matkul.dosen}}</td></tr>
        <tr><th style="text-align: left;">Jumlah SKS</th><td>{{matkul.sks}}</td></tr>
        <tr><th style="text-align: left;">Deskripsi</th><td>{{matkul.deskripsi}}</td></tr>
    </tbody>
</table>
<a href="{% url 'matkul:delete' matkul.id %}"><button>Hapus matkul</button></a>
{% endblock content %}