{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Buat Matkul Baru</title>
{% endblock meta %}

{% block content %}
<a href="/matkul"><button>Kembali</button></a>
<form method="POST">
    {% csrf_token %}
    <p>Kode: {{form.kode}}</p>
    <p>Nama: {{form.nama}}</p>
    <p>Dosen: {{form.dosen}}</p>
    <p>SKS: {{form.sks}}</p>
    <p>Deskripsi: {{form.deskripsi}}</p>

    <input type="submit" value="Submit">
</form>
{% endblock content %}