.mycontainer {
  min-height: 85vh;
  padding: 0 12vw;
}

.login-dark form {
  max-width: 320px;
  width: 90%;
  background-color: #2c2c2c;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .btn-primary {
  background: #ccffff;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: #3abeff;
  outline: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}

.story-9 {
    margin-top: 2%;
}

.page-title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}