{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story8/css/style.css' %}">
    <script type="text/javascript" src="{% static 'story8/js/script.js' %}"></script>
    
    <title>Story 8</title>
{% endblock meta %}

{% block content %}
<div class="container story-8">
    <h1 class="page-title">Story 8: AJAX</h1>
    <input class="form-control form-control-lg" id="keyword" placeholder="Masukkan judul buku">

    <table class="table" id="list-buku">
    </table>
</div>
{% endblock content %}