{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/story1">Story1</a>
    <a href="/story3">Story3</a>
    <a href="/matkul">Mata Kuliah</a>
    <a href="/story7">Story7</a>
    <a href="/story8">Story8</a>
    <a href="/story9">Story9</a>
  </div>
  {% block content %}
  {% endblock content %}
  <div class="footer">
    <p id="footer-text">&copy; 2020 Anis Farhan Itsnaini</p>
  </div>
</body>

</html>
