{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Bonus</title>
{% endblock meta %}

{% block content %}
<p>Halaman web ini masih dalam masa pengembangan :(</p>
<p>Silakan gunakan fitur yang sudah tersedia :)</p>
{% endblock content %}