{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 4</title>
{% endblock meta %}

{% block content %}
<div id='title'>
  <h1>Selamat Datang</h1>
  <p>Silakan gunakan navbar di atas untuk melihat-lihat story saya :)</p>
</div>
{% endblock content %}
