{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <title>Story 3</title>
{% endblock meta %}

{% block content %}
    <img id="prof-pic" src={% static 'img/FR09.jpg' %} alt="foto profil">
    <h1>Part time Student, Full-time learner</h1>
    <h1 class="tagline">I love to learn dan discover new things</h1>

    <h2>About me</h2>
    <p>Hello there, it's me Farhan</p>
    <p>Nice to meet you :)</p>
    <br>
    <p style="font-weight: bold;">Educational Background</p>
    <p class="sekolah">SMP</p>
    <p><img src={% static 'img/SBBS.jpg' %} alt="SBBS" class="school-image"></p>
    <p>Sragen Bilingual Boarding School</p>
    <p class="sekolah">SMA</p>
    <p><img src={% static 'img/CRIBS.jpg' %} alt="SBBS" class="school-image"></p>
    <p>Cahaya Rancamaya Islamic Boarding School</p>

    <h2>Contacts</h2>
    <h3>
        <a href="https://www.linkedin.com/in/anis-farhan-itsnaini-499014191/" target="_blank">
            <img src={% static 'img/linkedin.jpg' %} alt="LinkedIn">
        </a>
        <a href="https://web.facebook.com/farhan.itsnaini.1" target="_blank">
            <img src={% static 'img/facebook.png' %} alt="Facebook">
        </a>
    </h3>
    <h3>
        <a href="https://steamcommunity.com/id/anisfarhanitsnaini" target="_blank">
            <img src={% static 'img/steam.png' %} alt="Steam">
        </a>
        <a href="https://www.instagram.com/farhansbbs/" target="_blank">
            <img src={% static 'img/instagram.jpg' %} alt="Instagram">
        </a>
    </h3>
{% endblock content %}